.reviewForm {
    padding-top: 25px;
    width: 33%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  
  .reviewFormTitle {
    color: rgb(21, 81, 108);
    margin: 0;
    font-size: 20px;
  }
  
  .reviewFormSpan {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
    align-items: center;
  }
  
  .reviewFormInput {
    border: 2px solid rgb(37, 37, 35);
    border-radius: 5px;
    height: 25px;

  }
  
  .reviewFormButton {
    background-color: #89b9e0;
    color: aliceblue;
    height: 50px;
    padding: 15px;
    border-radius: 5px;

  }
  
  .reviewFormButton:hover {
    background-color: rgb(17, 110, 124);
  }

