.reviews {
    display: flex;
    flex-direction: column;
    
}

.reviews h3 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
}

.reviews ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}