.tabNames {
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
  display: flex; 
  gap: 15px; 
  margin-bottom: 30px;
}

.tabNames button {
  background-color: #bcd7e4;
  padding: 10px 20px; 
  border-radius: 5px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.3s ease;
}

.tabNames button:hover {
  background-color: #6ca6b5; 
}
